<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIR tool</title>
</head>
<!-- <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css"> -->

<body>
    <center><h1>IIR Tool</h1></center>
    </form>
    <form action="/uploadfiles/" enctype="multipart/form-data" method="post">
    <input name="file" type="file" multiple>
    <input type="submit">
    </form>

    <h3>File Name: </h3> <p>{{ filename }}ddfghdfhggchgghvhgvghvgvhvkg</p>

    <h3>Extracted Text</h3> <br>

    <p class ="test" id="foo" name="annotate_text" >{{ text }}</p>
   
    <center>
        <input type="button"
        value="Select text" 
        onmousedown="getSelectedText()">
    </center>

    <!--Form to show the selected text as output-->
    <br>
    <form name="testform">
        <textarea name="selectedtext" 
                  rows="5"
                  cols="200"></textarea>
    </form>
</body>
<script>
   function getSelectedText(){
       console.log("hello")
    var selectedText = '';
    // var window = Window.getWindow();
    // if(window.getSelection.baseNode.parentNode.id != "foo") return;
    // window.getSelection
    console.log(window.getSelection().anchorNode.parentNode)
    console.log(window.getSelection().anchorNode.parentNode.className);
    console.log(window.getSelection().anchorNode.parentNode.id)
    if (window.getSelection) {
        selectedText = window.getSelection();
        
        var range = selectedText.getRangeAt(0);
        var newNode = document.createElement("span");
        newNode.setAttribute("style", "background-color: pink;");
        range.surroundContents(newNode); 
    }
    // // document.getSelection
    else  if (document.getSelection) {
        selectedText = document.getSelection();
    }
    // document.selection
    else if (document.selection) {
        selectedText = 
        document.selection.createRange().text;
    } else return;
    // To write the selected text into the textarea
    document.testform.selectedtext.value = selectedText;
   }

</script>
</html>